.four{
    height: 60vh;
    display: flex;
}
.f-left{
    width: 60%;
}
.f-right{
    width: 45%;
    margin: auto;
    
}
.f-right img{
    height: 45vh;
    width: 84%;
    float: right;
    border-radius: 0 0 0 50%;
}